In [103]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import seaborn as sns

%matplotlib inline 

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier


from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.model_selection import RandomizedSearchCV,GridSearchCV
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import precision_score,recall_score,f1_score
from sklearn.metrics import RocCurveDisplay

In [104]:
train_df = pd.read_csv('data/Project2Data.csv',low_memory = False)

In [105]:
train_df.shape

(1780140, 17)

In [106]:
train_df.head()

,SupporterID,Age_Bucket,Gender,State,PostCode,Have_Phone,Have_Email,Gift_ID,GiftDate,IsEmergencyGift,Is_First_Gift,ProductType_Group,GiftSolicitationChannel,CampaignSubtype_Group,AppealSeason,GiftAmount,ConvertedTo_RG_Within_6M
0,A-990430482,Unknown,NaN,NSW,2166.0,No,No,0062u00000AFwB5AAL,2020-11-04,NaN,Is_First_Gift,Cash - One off,Web,Appeal,Non Seasonal,56.0,0
1,A-990434539,Unknown,NaN,NSW,2027.0,No,No,0062u00000AZ70jAAD,2020-12-03,NaN,Is_First_Gift,Cash - One off,DM,Appeal,Christmas,140.0,0
2,A-990435870,Unknown,NaN,NaN,NaN,No,No,0062u00000Aa42AAAR,2020-12-16,NaN,Is_First_Gift,Cash - Inspired Gifts,DM,Appeal,Non Seasonal,70.0,0
3,A-990435901,Unknown,NaN,NaN,NaN,No,No,0062u00000Aa997AAB,2020-12-17,NaN,Is_First_Gift,Cash - One off,General,Appeal,Non Seasonal,35.0,0
4,C-990018085,Unknown,NaN,VIC,3144.0,No,No,0062u000009YQXHAA4,2015-05-11,Yes,Is_First_Gift,Cash - One off,Inserts,Appeal,Non Seasonal,175.0,0

In [107]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1780140 entries, 0 to 1780139
Data columns (total 17 columns):
 #   Column                    Dtype
---  ------                    -----
 0   SupporterID               object
 1   Age_Bucket                object
 2   Gender                    object
 3   State                     object
 4   PostCode                  float64
 5   Have_Phone                object
 6   Have_Email                object
 7   Gift_ID                   object
 8   GiftDate                  object
 9   IsEmergencyGift           object
 10  Is_First_Gift             object
 11  ProductType_Group         object
 12  GiftSolicitationChannel   object
 13  CampaignSubtype_Group     object
 14  AppealSeason              object
 15  GiftAmount                float64
 16  ConvertedTo_RG_Within_6M  int64
dtypes: float64(2), int64(1), object(14)
memory usage: 230.9+ MB

In [108]:
train_df.isna().sum()

SupporterID                       0
Age_Bucket                        0
Gender                       473180
State                         84891
PostCode                     104015
Have_Phone                        0
Have_Email                        0
Gift_ID                           0
GiftDate                          0
IsEmergencyGift             1630762
Is_First_Gift                     0
ProductType_Group                 0
GiftSolicitationChannel       21053
CampaignSubtype_Group             0
AppealSeason                      0
GiftAmount                        0
ConvertedTo_RG_Within_6M          0
dtype: int64

In [109]:
train_df.columns

Index(['SupporterID', 'Age_Bucket', 'Gender', 'State', 'PostCode',
       'Have_Phone', 'Have_Email', 'Gift_ID', 'GiftDate', 'IsEmergencyGift',
       'Is_First_Gift', 'ProductType_Group', 'GiftSolicitationChannel',
       'CampaignSubtype_Group', 'AppealSeason', 'GiftAmount',
       'ConvertedTo_RG_Within_6M'],
      dtype='object')

In [110]:
train_df.Age_Bucket.value_counts()

Age_Bucket
Unknown    896559
31-40      243238
41-50      193695
51-60      144225
71+        130145
61-70      113465
19 - 30     58813
Name: count, dtype: int64

In [111]:
train_df.nlargest(10, 'GiftAmount')

,SupporterID,Age_Bucket,Gender,State,PostCode,Have_Phone,Have_Email,Gift_ID,GiftDate,IsEmergencyGift,Is_First_Gift,ProductType_Group,GiftSolicitationChannel,CampaignSubtype_Group,AppealSeason,GiftAmount,ConvertedTo_RG_Within_6M
1558484,C-990438993,Unknown,NaN,VIC,3175.0,No,Yes,0062u00000CcDtRAAV,2021-06-08,NaN,Not_First_Gift,Cash - One off,NaN,Appeal,Tax,52500.0,0
1558485,C-990438993,Unknown,NaN,VIC,3175.0,No,Yes,0062u00000Cb4a8AAB,2021-06-08,NaN,Not_First_Gift,Cash - One off,General,Appeal,Tax,52500.0,0
249432,C-990281901,Unknown,Female,QLD,4122.0,Yes,Yes,0062u000009T6FkAAK,2019-06-30,NaN,Not_First_Gift,Cash - One off,Web,Appeal,Tax,28000.0,0
1570719,C-990441507,Unknown,NaN,NaN,NaN,No,Yes,0062u00000C287QAAR,2021-03-17,NaN,Is_First_Gift,Cash - One off,General,Appeal,Non Seasonal,17500.0,0
249433,C-990281901,Unknown,Female,QLD,4122.0,Yes,Yes,0062u000009T6FmAAK,2019-06-30,NaN,Not_First_Gift,Cash - One off,Web,Appeal,Tax,14000.0,0
249434,C-990281901,Unknown,Female,QLD,4122.0,Yes,Yes,0062u000009T6FlAAK,2019-06-30,NaN,Not_First_Gift,Cash - One off,Web,Appeal,Tax,14000.0,0
249435,C-990281901,Unknown,Female,QLD,4122.0,Yes,Yes,0062u000009T6FnAAK,2019-06-30,NaN,Not_First_Gift,Cash - One off,Web,Appeal,Tax,14000.0,0
1313778,C-990393107,Unknown,Female,NSW,2047.0,Yes,Yes,0062u00000DCxSWAA1,2021-10-14,NaN,Not_First_Gift,Cash - One off,DM,Appeal,Autumn,14000.0,0
1604277,C-990454390,Unknown,NaN,QLD,4061.0,Yes,Yes,0062u00000ENmTnAAL,2022-01-31,Yes,Not_First_Gift,Cash - One off,NaN,Appeal,Non Seasonal,14000.0,0
15013,C-990244714,Unknown,Female,NSW,2067.0,No,Yes,0062u0000092fGmAAI,2014-06-05,NaN,Is_First_Gift,Cash - One off,Web,Appeal,Non Seasonal,11200.0,0

In [112]:
train_df.IsEmergencyGift.value_counts()

IsEmergencyGift
Yes    149378
Name: count, dtype: int64

# Data Processing

In [113]:
df = pd.read_csv(filepath_or_buffer="data/Project2Data.csv",
                 low_memory=False,  
                 parse_dates=["GiftDate"]) 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1780140 entries, 0 to 1780139
Data columns (total 17 columns):
 #   Column                    Dtype
---  ------                    -----
 0   SupporterID               object
 1   Age_Bucket                object
 2   Gender                    object
 3   State                     object
 4   PostCode                  float64
 5   Have_Phone                object
 6   Have_Email                object
 7   Gift_ID                   object
 8   GiftDate                  datetime64[ns]
 9   IsEmergencyGift           object
 10  Is_First_Gift             object
 11  ProductType_Group         object
 12  GiftSolicitationChannel   object
 13  CampaignSubtype_Group     object
 14  AppealSeason              object
 15  GiftAmount                float64
 16  ConvertedTo_RG_Within_6M  int64
dtypes: datetime64[ns](1), float64(2), int64(1), object(13)
memory usage: 230.9+ MB

In [114]:
dup_vals = df["SupporterID"].value_counts()[lambda s: s > 1]
dup_vals

SupporterID
C-990323876    558
C-990325291    469
C-990521347    463
C-990416858    346
C-990285240    325
              ...
C-990512098      2
C-990346064      2
C-990471567      2
C-990512090      2
C-990346363      2
Name: count, Length: 87367, dtype: int64

In [115]:
col = 'Age_Bucket'
idx_unk = train_df.index[df[col] == 'Unknown']
counts  = train_df.loc[df[col] != 'Unknown', col].value_counts()
cats    = counts.index.to_list()
probs   = (counts / counts.sum()).reindex(cats).values

rng = np.random.default_rng(42)  
choices = rng.choice(cats, size=len(idx_unk), p=probs)
train_df.loc[idx_unk, col] = choices
train_df = train_df.loc[train_df[col].notna() & (train_df[col] != 'Unknown')].copy()

In [116]:
train_df.Age_Bucket.value_counts()

Age_Bucket
31-40      489902
41-50      390372
51-60      290811
71+        261985
61-70      228778
19 - 30    118292
Name: count, dtype: int64

In [117]:
train_df.State.value_counts()

State
NSW        582239
VIC        404205
WA         232220
QLD        214292
ACT        160259
            ...
18              1
9               1
london          1
DU              1
Gujarat         1
Name: count, Length: 229, dtype: int64

In [118]:
train_df['State'] = train_df['State'].replace({'Nsw':'NSW'})
train_df['State'] = train_df['State'].replace({'Qld':'QLD'})
train_df['State'] = train_df['State'].replace({'Vic':'VIC'})
train_df['State'] = train_df['State'].replace({'Tas':'TAS'})

In [119]:
top9_states = train_df["State"].value_counts().head(9).index
ct_top9 = pd.crosstab(train_df.loc[train_df["State"].isin(top9_states), "State"],
                      train_df["ConvertedTo_RG_Within_6M"])
# 按出现频次顺序展示：
states_top9 = ct_top9.reindex(top9_states)
states_top9

ConvertedTo_RG_Within_6M       0      1
State
NSW                       531872  50371
VIC                       360917  43298
WA                        218530  13690
QLD                       195359  18939
ACT                       156024   4235
SA                         45941   7105
TAS                        25260   2392
NT                         11309    681
INT                         6920    358

In [120]:
top9 = df["State"].value_counts().nlargest(9).index
# 生成新列：前9保留，其他归为 Other
train_df["State"] = train_df["State"].where(train_df["State"].isin(top9), "Other")

# （可选）固定显示顺序：前9 + Other
order = list(top9) + ["Other"]
train_df["State"] = pd.Categorical(train_df["State"], categories=order, ordered=True)

In [121]:
train_df.State.value_counts()

State
NSW      582243
VIC      404215
WA       232220
QLD      214298
ACT      160259
Other     86939
SA        53046
TAS       27652
NT        11990
INT        7278
Name: count, dtype: int64

In [122]:
train_df.head()

,SupporterID,Age_Bucket,Gender,State,PostCode,Have_Phone,Have_Email,Gift_ID,GiftDate,IsEmergencyGift,Is_First_Gift,ProductType_Group,GiftSolicitationChannel,CampaignSubtype_Group,AppealSeason,GiftAmount,ConvertedTo_RG_Within_6M
0,A-990430482,71+,NaN,NSW,2166.0,No,No,0062u00000AFwB5AAL,2020-11-04,NaN,Is_First_Gift,Cash - One off,Web,Appeal,Non Seasonal,56.0,0
1,A-990434539,41-50,NaN,NSW,2027.0,No,No,0062u00000AZ70jAAD,2020-12-03,NaN,Is_First_Gift,Cash - One off,DM,Appeal,Christmas,140.0,0
2,A-990435870,61-70,NaN,Other,NaN,No,No,0062u00000Aa42AAAR,2020-12-16,NaN,Is_First_Gift,Cash - Inspired Gifts,DM,Appeal,Non Seasonal,70.0,0
3,A-990435901,71+,NaN,Other,NaN,No,No,0062u00000Aa997AAB,2020-12-17,NaN,Is_First_Gift,Cash - One off,General,Appeal,Non Seasonal,35.0,0
4,C-990018085,31-40,NaN,VIC,3144.0,No,No,0062u000009YQXHAA4,2015-05-11,Yes,Is_First_Gift,Cash - One off,Inserts,Appeal,Non Seasonal,175.0,0

In [123]:
train_df.isna().sum()

SupporterID                       0
Age_Bucket                        0
Gender                       473180
State                             0
PostCode                     104015
Have_Phone                        0
Have_Email                        0
Gift_ID                           0
GiftDate                          0
IsEmergencyGift             1630762
Is_First_Gift                     0
ProductType_Group                 0
GiftSolicitationChannel       21053
CampaignSubtype_Group             0
AppealSeason                      0
GiftAmount                        0
ConvertedTo_RG_Within_6M          0
dtype: int64

In [124]:
train_df["PostCode"] = train_df["PostCode"].fillna("").astype(str).str.split('.').str[0]

In [125]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1780140 entries, 0 to 1780139
Data columns (total 17 columns):
 #   Column                    Dtype
---  ------                    -----
 0   SupporterID               object
 1   Age_Bucket                object
 2   Gender                    object
 3   State                     category
 4   PostCode                  object
 5   Have_Phone                object
 6   Have_Email                object
 7   Gift_ID                   object
 8   GiftDate                  object
 9   IsEmergencyGift           object
 10  Is_First_Gift             object
 11  ProductType_Group         object
 12  GiftSolicitationChannel   object
 13  CampaignSubtype_Group     object
 14  AppealSeason              object
 15  GiftAmount                float64
 16  ConvertedTo_RG_Within_6M  int64
dtypes: category(1), float64(1), int64(1), object(14)
memory usage: 297.1+ MB

Mosaic Data

In [126]:
postcode_df = pd.read_csv('data/PostcodeData.csv')

In [127]:
postcode_df.head()

,POSTCODE,TOTAL_HOUSEHOLD_COUNT,STATE,DOMINANT_MOSAIC_GROUP,DOMINANT_MOSAIC_TYPE,MOSAIC_GROUP_A,MOSAIC_GROUP_B,MOSAIC_GROUP_C,MOSAIC_GROUP_D,MOSAIC_GROUP_E,...,MOSAIC_TYPE_L43,MOSAIC_TYPE_L44,MOSAIC_TYPE_M45,MOSAIC_TYPE_M46,MOSAIC_TYPE_M47,MOSAIC_TYPE_M48,MOSAIC_TYPE_N49,MOSAIC_TYPE_N50,MOSAIC_TYPE_N51,MOSAIC_TYPE_N52
0,800,4179,NT,G,G22,139,1659,0,0,89,...,0,0,0,0,0,0,0,0,0,66
1,810,13511,NT,E,F17,370,599,1749,114,3165,...,0,10,190,41,4,2,0,246,101,111
2,812,6979,NT,F,H26,109,9,421,38,414,...,0,71,154,120,0,0,4,133,46,2
3,820,9665,NT,B,G22,702,2269,1040,204,1283,...,0,0,49,3,0,9,25,102,112,78
4,822,3642,NT,J,J35,52,0,0,80,48,...,574,135,69,7,49,76,81,78,0,0

In [128]:
postcode_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2607 entries, 0 to 2606
Data columns (total 71 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   POSTCODE               2607 non-null   int64
 1   TOTAL_HOUSEHOLD_COUNT  2607 non-null   int64
 2   STATE                  2607 non-null   object
 3   DOMINANT_MOSAIC_GROUP  2607 non-null   object
 4   DOMINANT_MOSAIC_TYPE   2607 non-null   object
 5   MOSAIC_GROUP_A         2607 non-null   int64
 6   MOSAIC_GROUP_B         2607 non-null   int64
 7   MOSAIC_GROUP_C         2607 non-null   int64
 8   MOSAIC_GROUP_D         2607 non-null   int64
 9   MOSAIC_GROUP_E         2607 non-null   int64
 10  MOSAIC_GROUP_F         2607 non-null   int64
 11  MOSAIC_GROUP_G         2607 non-null   int64
 12  MOSAIC_GROUP_H         2607 non-null   int64
 13  MOSAIC_GROUP_I         2607 non-null   int64
 14  MOSAIC_GROUP_J         2607 non-null   int64
 15  MOSAIC_GROUP_K         2607 non-null   int64
 16  MOSAIC_GROUP_L         2607 non-null   int64
 17  MOSAIC_GROUP_M         2607 non-null   int64
 18  MOSAIC_GROUP_N         2607 non-null   int64
 19  MOSAIC_TYPE_A01        2607 non-null   int64
 20  MOSAIC_TYPE_A02        2607 non-null   int64
 21  MOSAIC_TYPE_A03        2607 non-null   int64
 22  MOSAIC_TYPE_A04        2607 non-null   int64
 23  MOSAIC_TYPE_B05        2607 non-null   int64
 24  MOSAIC_TYPE_B06        2607 non-null   int64
 25  MOSAIC_TYPE_B07        2607 non-null   int64
 26  MOSAIC_TYPE_C08        2607 non-null   int64
 27  MOSAIC_TYPE_C09        2607 non-null   int64
 28  MOSAIC_TYPE_C10        2607 non-null   int64
 29  MOSAIC_TYPE_D11        2607 non-null   int64
 30  MOSAIC_TYPE_D12        2607 non-null   int64
 31  MOSAIC_TYPE_D13        2607 non-null   int64
 32  MOSAIC_TYPE_E14        2607 non-null   int64
 33  MOSAIC_TYPE_E15        2607 non-null   int64
 34  MOSAIC_TYPE_E16        2607 non-null   int64
 35  MOSAIC_TYPE_F17        2607 non-null   int64
 36  MOSAIC_TYPE_F18        2607 non-null   int64
 37  MOSAIC_TYPE_F19        2607 non-null   int64
 38  MOSAIC_TYPE_F20        2607 non-null   int64
 39  MOSAIC_TYPE_G21        2607 non-null   int64
 40  MOSAIC_TYPE_G22        2607 non-null   int64
 41  MOSAIC_TYPE_G23        2607 non-null   int64
 42  MOSAIC_TYPE_G24        2607 non-null   int64
 43  MOSAIC_TYPE_H25        2607 non-null   int64
 44  MOSAIC_TYPE_H26        2607 non-null   int64
 45  MOSAIC_TYPE_H27        2607 non-null   int64
 46  MOSAIC_TYPE_I28        2607 non-null   int64
 47  MOSAIC_TYPE_I29        2607 non-null   int64
 48  MOSAIC_TYPE_I30        2607 non-null   int64
 49  MOSAIC_TYPE_J31        2607 non-null   int64
 50  MOSAIC_TYPE_J32        2607 non-null   int64
 51  MOSAIC_TYPE_J33        2607 non-null   int64
 52  MOSAIC_TYPE_J34        2607 non-null   int64
 53  MOSAIC_TYPE_J35        2607 non-null   int64
 54  MOSAIC_TYPE_K36        2607 non-null   int64
 55  MOSAIC_TYPE_K37        2607 non-null   int64
 56  MOSAIC_TYPE_K38        2607 non-null   int64
 57  MOSAIC_TYPE_K39        2607 non-null   int64
 58  MOSAIC_TYPE_K40        2607 non-null   int64
 59  MOSAIC_TYPE_L41        2607 non-null   int64
 60  MOSAIC_TYPE_L42        2607 non-null   int64
 61  MOSAIC_TYPE_L43        2607 non-null   int64
 62  MOSAIC_TYPE_L44        2607 non-null   int64
 63  MOSAIC_TYPE_M45        2607 non-null   int64
 64  MOSAIC_TYPE_M46        2607 non-null   int64
 65  MOSAIC_TYPE_M47        2607 non-null   int64
 66  MOSAIC_TYPE_M48        2607 non-null   int64
 67  MOSAIC_TYPE_N49        2607 non-null   int64
 68  MOSAIC_TYPE_N50        2607 non-null   int64
 69  MOSAIC_TYPE_N51        2607 non-null   int64
 70  MOSAIC_TYPE_N52        2607 non-null   int64
dtypes: int64(68), object(3)
memory usage: 1.4+ MB

In [129]:
train_df["PostCode"] = train_df["PostCode"].astype(str)

In [130]:
postcode_df["PostCode"] = postcode_df["POSTCODE"].astype(str)

In [131]:
train_df_merged = train_df.merge(postcode_df,on="PostCode", how="left")

In [132]:
train_df_merged

,SupporterID,Age_Bucket,Gender,State,PostCode,Have_Phone,Have_Email,Gift_ID,GiftDate,IsEmergencyGift,...,MOSAIC_TYPE_L43,MOSAIC_TYPE_L44,MOSAIC_TYPE_M45,MOSAIC_TYPE_M46,MOSAIC_TYPE_M47,MOSAIC_TYPE_M48,MOSAIC_TYPE_N49,MOSAIC_TYPE_N50,MOSAIC_TYPE_N51,MOSAIC_TYPE_N52
0,A-990430482,71+,NaN,NSW,2166,No,No,0062u00000AFwB5AAL,2020-11-04,NaN,...,0.0,0.0,0.0,1.0,0.0,0.0,53.0,0.0,48.0,548.0
1,A-990434539,41-50,NaN,NSW,2027,No,No,0062u00000AZ70jAAD,2020-12-03,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,A-990435870,61-70,NaN,Other,,No,No,0062u00000Aa42AAAR,2020-12-16,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A-990435901,71+,NaN,Other,,No,No,0062u00000Aa997AAB,2020-12-17,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,C-990018085,31-40,NaN,VIC,3144,No,No,0062u000009YQXHAA4,2015-05-11,Yes,...,0.0,0.0,0.0,13.0,0.0,0.0,0.0,0.0,126.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1780135,N_990621275,71+,NaN,VIC,3008,Yes,Yes,0062u00000AEnGoAAL,2020-10-16,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1780136,N_990621277,41-50,NaN,VIC,3174,Yes,Yes,0062u00000ADfutAAD,2020-10-03,NaN,...,0.0,0.0,85.0,0.0,0.0,14.0,48.0,2.0,36.0,370.0
1780137,N_990621277,41-50,NaN,VIC,3174,Yes,Yes,0062u00000DCmPSAA1,2021-10-05,NaN,...,0.0,0.0,85.0,0.0,0.0,14.0,48.0,2.0,36.0,370.0
1780138,N_990621277,31-40,NaN,VIC,3174,Yes,Yes,0068v000002X5VjAAK,2023-01-16,Yes,...,0.0,0.0,85.0,0.0,0.0,14.0,48.0,2.0,36.0,370.0
1780139,N_990621277,31-40,NaN,VIC,3174,Yes,Yes,0068v000002qLFaAAM,2023-08-18,NaN,...,0.0,0.0,85.0,0.0,0.0,14.0,48.0,2.0,36.0,370.0

In [133]:
unicef_df = train_df

In [134]:
unicef_df['PostCode'] = unicef_df['PostCode'].astype(str)

In [135]:
postcode_df['POSTCODE'] = postcode_df['POSTCODE'].astype(str)

In [136]:
mosaic_cols = [c for c in postcode_df.columns if c.startswith("MOSAIC_GROUP")]
postcode_df[mosaic_cols] = postcode_df[mosaic_cols].apply(pd.to_numeric, errors='coerce')
postcode_df["MOSAIC_GROUP"] = postcode_df[mosaic_cols].idxmax(axis=1)

In [137]:
mosaic_cols = [c for c in postcode_df.columns if c.startswith("MOSAIC_TYPE")]
postcode_df[mosaic_cols] = postcode_df[mosaic_cols].apply(pd.to_numeric, errors='coerce')
postcode_df["MOSAIC_TYPE"] = postcode_df[mosaic_cols].idxmax(axis=1)

In [138]:
postcode_mosaic = postcode_df[["POSTCODE", "MOSAIC_TYPE", "MOSAIC_GROUP"]]

In [139]:
unicef_df = unicef_df.merge(postcode_mosaic,
                            left_on="PostCode", 
                            right_on="POSTCODE", 
                            how="left")

In [140]:
unicef_df["MOSAIC_GROUP"].value_counts()

MOSAIC_GROUP
MOSAIC_GROUP_A    238443
MOSAIC_GROUP_B    228428
MOSAIC_GROUP_G    177086
MOSAIC_GROUP_C    174762
MOSAIC_GROUP_F    152905
MOSAIC_GROUP_E    129230
MOSAIC_GROUP_K    102880
MOSAIC_GROUP_J     99176
MOSAIC_GROUP_M     97746
MOSAIC_GROUP_H     81298
MOSAIC_GROUP_I     81239
MOSAIC_GROUP_D     53727
MOSAIC_GROUP_L     45937
MOSAIC_GROUP_N      2515
Name: count, dtype: int64

In [141]:
unicef_df.head()

,SupporterID,Age_Bucket,Gender,State,PostCode,Have_Phone,Have_Email,Gift_ID,GiftDate,IsEmergencyGift,Is_First_Gift,ProductType_Group,GiftSolicitationChannel,CampaignSubtype_Group,AppealSeason,GiftAmount,ConvertedTo_RG_Within_6M,POSTCODE,MOSAIC_TYPE,MOSAIC_GROUP
0,A-990430482,71+,NaN,NSW,2166,No,No,0062u00000AFwB5AAL,2020-11-04,NaN,Is_First_Gift,Cash - One off,Web,Appeal,Non Seasonal,56.0,0,2166,MOSAIC_TYPE_F20,MOSAIC_GROUP_F
1,A-990434539,41-50,NaN,NSW,2027,No,No,0062u00000AZ70jAAD,2020-12-03,NaN,Is_First_Gift,Cash - One off,DM,Appeal,Christmas,140.0,0,2027,MOSAIC_TYPE_B06,MOSAIC_GROUP_B
2,A-990435870,61-70,NaN,Other,,No,No,0062u00000Aa42AAAR,2020-12-16,NaN,Is_First_Gift,Cash - Inspired Gifts,DM,Appeal,Non Seasonal,70.0,0,NaN,NaN,NaN
3,A-990435901,71+,NaN,Other,,No,No,0062u00000Aa997AAB,2020-12-17,NaN,Is_First_Gift,Cash - One off,General,Appeal,Non Seasonal,35.0,0,NaN,NaN,NaN
4,C-990018085,31-40,NaN,VIC,3144,No,No,0062u000009YQXHAA4,2015-05-11,Yes,Is_First_Gift,Cash - One off,Inserts,Appeal,Non Seasonal,175.0,0,3144,MOSAIC_TYPE_A01,MOSAIC_GROUP_A

In [142]:
train_df = unicef_df
train_df

,SupporterID,Age_Bucket,Gender,State,PostCode,Have_Phone,Have_Email,Gift_ID,GiftDate,IsEmergencyGift,Is_First_Gift,ProductType_Group,GiftSolicitationChannel,CampaignSubtype_Group,AppealSeason,GiftAmount,ConvertedTo_RG_Within_6M,POSTCODE,MOSAIC_TYPE,MOSAIC_GROUP
0,A-990430482,71+,NaN,NSW,2166,No,No,0062u00000AFwB5AAL,2020-11-04,NaN,Is_First_Gift,Cash - One off,Web,Appeal,Non Seasonal,56.0,0,2166,MOSAIC_TYPE_F20,MOSAIC_GROUP_F
1,A-990434539,41-50,NaN,NSW,2027,No,No,0062u00000AZ70jAAD,2020-12-03,NaN,Is_First_Gift,Cash - One off,DM,Appeal,Christmas,140.0,0,2027,MOSAIC_TYPE_B06,MOSAIC_GROUP_B
2,A-990435870,61-70,NaN,Other,,No,No,0062u00000Aa42AAAR,2020-12-16,NaN,Is_First_Gift,Cash - Inspired Gifts,DM,Appeal,Non Seasonal,70.0,0,NaN,NaN,NaN
3,A-990435901,71+,NaN,Other,,No,No,0062u00000Aa997AAB,2020-12-17,NaN,Is_First_Gift,Cash - One off,General,Appeal,Non Seasonal,35.0,0,NaN,NaN,NaN
4,C-990018085,31-40,NaN,VIC,3144,No,No,0062u000009YQXHAA4,2015-05-11,Yes,Is_First_Gift,Cash - One off,Inserts,Appeal,Non Seasonal,175.0,0,3144,MOSAIC_TYPE_A01,MOSAIC_GROUP_A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1780135,N_990621275,71+,NaN,VIC,3008,Yes,Yes,0062u00000AEnGoAAL,2020-10-16,NaN,Is_First_Gift,Community Fundraising,NaN,Community Fundraising,Non Seasonal,70.0,0,3008,MOSAIC_TYPE_B07,MOSAIC_GROUP_G
1780136,N_990621277,41-50,NaN,VIC,3174,Yes,Yes,0062u00000ADfutAAD,2020-10-03,NaN,Is_First_Gift,Cash - One off,Web,Appeal,Non Seasonal,7.0,0,3174,MOSAIC_TYPE_H27,MOSAIC_GROUP_H
1780137,N_990621277,41-50,NaN,VIC,3174,Yes,Yes,0062u00000DCmPSAA1,2021-10-05,NaN,Not_First_Gift,Cash - One off,Web,Appeal,Non Seasonal,7.0,0,3174,MOSAIC_TYPE_H27,MOSAIC_GROUP_H
1780138,N_990621277,31-40,NaN,VIC,3174,Yes,Yes,0068v000002X5VjAAK,2023-01-16,Yes,Not_First_Gift,Cash - One off,Web,Appeal,Non Seasonal,7.0,0,3174,MOSAIC_TYPE_H27,MOSAIC_GROUP_H
1780139,N_990621277,31-40,NaN,VIC,3174,Yes,Yes,0068v000002qLFaAAM,2023-08-18,NaN,Not_First_Gift,Cash - One off,Web,Appeal,Non Seasonal,7.0,0,3174,MOSAIC_TYPE_H27,MOSAIC_GROUP_H

In [143]:
train_df.isna().sum()

SupporterID                       0
Age_Bucket                        0
Gender                       473180
State                             0
PostCode                          0
Have_Phone                        0
Have_Email                        0
Gift_ID                           0
GiftDate                          0
IsEmergencyGift             1630762
Is_First_Gift                     0
ProductType_Group                 0
GiftSolicitationChannel       21053
CampaignSubtype_Group             0
AppealSeason                      0
GiftAmount                        0
ConvertedTo_RG_Within_6M          0
POSTCODE                     114768
MOSAIC_TYPE                  114768
MOSAIC_GROUP                 114768
dtype: int64

In [144]:
train_df['GiftSolicitationChannel'] = train_df['GiftSolicitationChannel'].fillna('No or unknown')

In [145]:
train_df['IsEmergencyGift'] = train_df['IsEmergencyGift'].fillna('No or unknown')

In [146]:
train_df['MOSAIC_GROUP'] = train_df['MOSAIC_GROUP'].fillna('Unknown')

In [147]:
train_df['MOSAIC_TYPE'] = train_df['MOSAIC_TYPE'].fillna('Unknown')

In [148]:
train_df['Gender'] = train_df['Gender'].fillna('Unknown')

In [149]:
train_df.Gender.value_counts()

Gender
Female               700209
Male                 606640
Unknown              473180
Non-Binary               97
Prefer Not To Say        14
Name: count, dtype: int64

In [150]:
col = 'Gender'
idx_unk = train_df.index[train_df[col] == 'Unknown']
counts  = train_df.loc[train_df[col] != 'Unknown', col].value_counts()
cats    = counts.index.to_list()
probs   = (counts / counts.sum()).reindex(cats).values

rng = np.random.default_rng(42)  
choices = rng.choice(cats, size=len(idx_unk), p=probs)
train_df.loc[idx_unk, col] = choices
train_df = train_df.loc[train_df[col].notna() & (train_df[col] != 'Unknown')].copy()

In [151]:
train_df.Gender.value_counts()

Gender
Female               954236
Male                 825755
Non-Binary              132
Prefer Not To Say        17
Name: count, dtype: int64

In [152]:
train_df.drop(columns=["POSTCODE"], inplace=True)

In [153]:
train_df.isna().sum()

SupporterID                 0
Age_Bucket                  0
Gender                      0
State                       0
PostCode                    0
Have_Phone                  0
Have_Email                  0
Gift_ID                     0
GiftDate                    0
IsEmergencyGift             0
Is_First_Gift               0
ProductType_Group           0
GiftSolicitationChannel     0
CampaignSubtype_Group       0
AppealSeason                0
GiftAmount                  0
ConvertedTo_RG_Within_6M    0
MOSAIC_TYPE                 0
MOSAIC_GROUP                0
dtype: int64

In [154]:
Is_First_Gift = 'Is_First_Gift'           
df_first_gift = train_df[train_df['Is_First_Gift'].eq(Is_First_Gift)]
df_first_gift

,SupporterID,Age_Bucket,Gender,State,PostCode,Have_Phone,Have_Email,Gift_ID,GiftDate,IsEmergencyGift,Is_First_Gift,ProductType_Group,GiftSolicitationChannel,CampaignSubtype_Group,AppealSeason,GiftAmount,ConvertedTo_RG_Within_6M,MOSAIC_TYPE,MOSAIC_GROUP
0,A-990430482,71+,Male,NSW,2166,No,No,0062u00000AFwB5AAL,2020-11-04,No or unknown,Is_First_Gift,Cash - One off,Web,Appeal,Non Seasonal,56.0,0,MOSAIC_TYPE_F20,MOSAIC_GROUP_F
1,A-990434539,41-50,Female,NSW,2027,No,No,0062u00000AZ70jAAD,2020-12-03,No or unknown,Is_First_Gift,Cash - One off,DM,Appeal,Christmas,140.0,0,MOSAIC_TYPE_B06,MOSAIC_GROUP_B
2,A-990435870,61-70,Male,Other,,No,No,0062u00000Aa42AAAR,2020-12-16,No or unknown,Is_First_Gift,Cash - Inspired Gifts,DM,Appeal,Non Seasonal,70.0,0,Unknown,Unknown
3,A-990435901,71+,Male,Other,,No,No,0062u00000Aa997AAB,2020-12-17,No or unknown,Is_First_Gift,Cash - One off,General,Appeal,Non Seasonal,35.0,0,Unknown,Unknown
4,C-990018085,31-40,Female,VIC,3144,No,No,0062u000009YQXHAA4,2015-05-11,Yes,Is_First_Gift,Cash - One off,Inserts,Appeal,Non Seasonal,175.0,0,MOSAIC_TYPE_A01,MOSAIC_GROUP_A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1780132,N_990621270,19 - 30,Female,NSW,2212,Yes,Yes,0062u000009gjx5AAA,2020-08-18,Yes,Is_First_Gift,Cash - One off,Web,Appeal,Spring,52.5,0,MOSAIC_TYPE_C10,MOSAIC_GROUP_C
1780133,N_990621271,41-50,Female,VIC,3194,Yes,Yes,0062u000009hsXnAAI,2020-09-01,Yes,Is_First_Gift,Cash - One off,Web,Appeal,Spring,105.0,0,MOSAIC_TYPE_I30,MOSAIC_GROUP_I
1780134,N_990621272,51-60,Female,VIC,3075,Yes,Yes,0062u000009fhr5AAA,2020-08-06,Yes,Is_First_Gift,Cash - One off,Web,Appeal,Non Seasonal,7.0,0,MOSAIC_TYPE_J31,MOSAIC_GROUP_J
1780135,N_990621275,71+,Female,VIC,3008,Yes,Yes,0062u00000AEnGoAAL,2020-10-16,No or unknown,Is_First_Gift,Community Fundraising,No or unknown,Community Fundraising,Non Seasonal,70.0,0,MOSAIC_TYPE_B07,MOSAIC_GROUP_G
1780136,N_990621277,41-50,Female,VIC,3174,Yes,Yes,0062u00000ADfutAAD,2020-10-03,No or unknown,Is_First_Gift,Cash - One off,Web,Appeal,Non Seasonal,7.0,0,MOSAIC_TYPE_H27,MOSAIC_GROUP_H

In [155]:
df_first_gift.ConvertedTo_RG_Within_6M.value_counts()

ConvertedTo_RG_Within_6M
0    187181
1      3369
Name: count, dtype: int64

### Building Model

In [156]:
df_first_gift.info()

<class 'pandas.core.frame.DataFrame'>
Index: 190550 entries, 0 to 1780136
Data columns (total 19 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SupporterID               190550 non-null  object
 1   Age_Bucket                190550 non-null  object
 2   Gender                    190550 non-null  object
 3   State                     190550 non-null  category
 4   PostCode                  190550 non-null  object
 5   Have_Phone                190550 non-null  object
 6   Have_Email                190550 non-null  object
 7   Gift_ID                   190550 non-null  object
 8   GiftDate                  190550 non-null  object
 9   IsEmergencyGift           190550 non-null  object
 10  Is_First_Gift             190550 non-null  object
 11  ProductType_Group         190550 non-null  object
 12  GiftSolicitationChannel   190550 non-null  object
 13  CampaignSubtype_Group     190550 non-null  object
 14  AppealSeason              190550 non-null  object
 15  GiftAmount                190550 non-null  float64
 16  ConvertedTo_RG_Within_6M  190550 non-null  int64
 17  MOSAIC_TYPE               190550 non-null  object
 18  MOSAIC_GROUP              190550 non-null  object
dtypes: category(1), float64(1), int64(1), object(16)
memory usage: 27.8+ MB

In [171]:
for label, content in df_first_gift.items():
    if pd.api.types.is_string_dtype(content):
        print(label)

SupporterID
Age_Bucket
Gender
State
PostCode
Have_Phone
Have_Email
Gift_ID
GiftDate
IsEmergencyGift
Is_First_Gift
ProductType_Group
GiftSolicitationChannel
CampaignSubtype_Group
AppealSeason
MOSAIC_TYPE
MOSAIC_GROUP

In [172]:
df_first_gift.head().isna()

,SupporterID,Age_Bucket,Gender,State,PostCode,Have_Phone,Have_Email,Gift_ID,GiftDate,IsEmergencyGift,Is_First_Gift,ProductType_Group,GiftSolicitationChannel,CampaignSubtype_Group,AppealSeason,GiftAmount,ConvertedTo_RG_Within_6M,MOSAIC_TYPE,MOSAIC_GROUP
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
50,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
54,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
67,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
69,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [78]:
for label, content in df_first_gift.items():
    if pd.api.types.is_string_dtype(content):
        # Check datatype of target column
        column_datatype = df[label].dtype.name

        # Get random sample from column values
        example_value = content.sample(1).values

        # Infer random sample datatype
        example_value_dtype = pd.api.types.infer_dtype(example_value)
        print(f"Column name: {label} | Column dtype: {column_datatype} | Example value: {example_value} | Example value dtype: {example_value_dtype}")

Column name: SupporterID | Column dtype: object | Example value: ['C-990497923'] | Example value dtype: string
Column name: Age_Bucket | Column dtype: object | Example value: ['61-70'] | Example value dtype: string
Column name: Gender | Column dtype: object | Example value: ['Female'] | Example value dtype: string
Column name: State | Column dtype: category | Example value: ['QLD']
Categories (10, object): ['NSW' < 'VIC' < 'WA' < 'QLD' ... 'TAS' < 'NT' < 'INT' < 'Other'] | Example value dtype: categorical
Column name: PostCode | Column dtype: object | Example value: ['2145'] | Example value dtype: string
Column name: Have_Phone | Column dtype: object | Example value: ['Yes'] | Example value dtype: string
Column name: Have_Email | Column dtype: object | Example value: ['No'] | Example value dtype: string
Column name: Gift_ID | Column dtype: object | Example value: ['0062u000009PlFrAAK'] | Example value dtype: string
Column name: IsEmergencyGift | Column dtype: object | Example value: ['No or unknown'] | Example value dtype: string
Column name: Is_First_Gift | Column dtype: object | Example value: ['Is_First_Gift'] | Example value dtype: string
Column name: ProductType_Group | Column dtype: object | Example value: ['Cash - One off'] | Example value dtype: string
Column name: GiftSolicitationChannel | Column dtype: object | Example value: ['Web'] | Example value dtype: string
Column name: CampaignSubtype_Group | Column dtype: object | Example value: ['Appeal'] | Example value dtype: string
Column name: AppealSeason | Column dtype: object | Example value: ['Non Seasonal'] | Example value dtype: string
Column name: MOSAIC_TYPE | Column dtype: object | Example value: ['MOSAIC_TYPE_I30'] | Example value dtype: string
Column name: MOSAIC_GROUP | Column dtype: object | Example value: ['MOSAIC_GROUP_F'] | Example value dtype: string

In [79]:
# Start a count of how many object type columns there are
number_of_object_type_columns = 0

for label, content in df_first_gift.items():
    # Check to see if column is of object type (this will include the string columns)
    if pd.api.types.is_object_dtype(content): 
        # Check datatype of target column
        column_datatype = df[label].dtype.name

        # Get random sample from column values
        example_value = content.sample(1).values

        # Infer random sample datatype
        example_value_dtype = pd.api.types.infer_dtype(example_value)
        print(f"Column name: {label} | Column dtype: {column_datatype} | Example value: {example_value} | Example value dtype: {example_value_dtype}")

        number_of_object_type_columns += 1

print(f"\n[INFO] Total number of object type columns: {number_of_object_type_columns}")

Column name: SupporterID | Column dtype: object | Example value: ['C-990458166'] | Example value dtype: string
Column name: Age_Bucket | Column dtype: object | Example value: ['31-40'] | Example value dtype: string
Column name: Gender | Column dtype: object | Example value: ['Female'] | Example value dtype: string
Column name: PostCode | Column dtype: object | Example value: ['7277'] | Example value dtype: string
Column name: Have_Phone | Column dtype: object | Example value: ['No'] | Example value dtype: string
Column name: Have_Email | Column dtype: object | Example value: ['Yes'] | Example value dtype: string
Column name: Gift_ID | Column dtype: object | Example value: ['0062u000009We80AAC'] | Example value dtype: string
Column name: IsEmergencyGift | Column dtype: object | Example value: ['Yes'] | Example value dtype: string
Column name: Is_First_Gift | Column dtype: object | Example value: ['Is_First_Gift'] | Example value dtype: string
Column name: ProductType_Group | Column dtype: object | Example value: ['Cash - One off'] | Example value dtype: string
Column name: GiftSolicitationChannel | Column dtype: object | Example value: ['F2F'] | Example value dtype: string
Column name: CampaignSubtype_Group | Column dtype: object | Example value: ['Regular Giving'] | Example value dtype: string
Column name: AppealSeason | Column dtype: object | Example value: ['Non Seasonal'] | Example value dtype: string
Column name: MOSAIC_TYPE | Column dtype: object | Example value: ['MOSAIC_TYPE_I28'] | Example value dtype: string
Column name: MOSAIC_GROUP | Column dtype: object | Example value: ['MOSAIC_GROUP_I'] | Example value dtype: string

[INFO] Total number of object type columns: 15

In [80]:
# This will turn all of the object columns into category values
for label, content in df_first_gift.items(): 
    if pd.api.types.is_object_dtype(content):
        df_first_gift[label] = df_first_gift[label].astype("category")

/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3759838569.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label] = df_first_gift[label].astype("category")
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3759838569.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label] = df_first_gift[label].astype("category")
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3759838569.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label] = df_first_gift[label].astype("category")
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3759838569.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label] = df_first_gift[label].astype("category")
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3759838569.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label] = df_first_gift[label].astype("category")
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3759838569.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label] = df_first_gift[label].astype("category")
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3759838569.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label] = df_first_gift[label].astype("category")
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3759838569.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label] = df_first_gift[label].astype("category")
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3759838569.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label] = df_first_gift[label].astype("category")
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3759838569.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label] = df_first_gift[label].astype("category")
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3759838569.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label] = df_first_gift[label].astype("category")
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3759838569.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label] = df_first_gift[label].astype("category")
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3759838569.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label] = df_first_gift[label].astype("category")
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3759838569.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label] = df_first_gift[label].astype("category")
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3759838569.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label] = df_first_gift[label].astype("category")

In [81]:
df_first_gift.info()

<class 'pandas.core.frame.DataFrame'>
Index: 190550 entries, 0 to 1780136
Data columns (total 19 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SupporterID               190550 non-null  category
 1   Age_Bucket                190550 non-null  category
 2   Gender                    190550 non-null  category
 3   State                     190550 non-null  category
 4   PostCode                  190550 non-null  category
 5   Have_Phone                190550 non-null  category
 6   Have_Email                190550 non-null  category
 7   Gift_ID                   190550 non-null  category
 8   GiftDate                  190550 non-null  datetime64[ns]
 9   IsEmergencyGift           190550 non-null  category
 10  Is_First_Gift             190550 non-null  category
 11  ProductType_Group         190550 non-null  category
 12  GiftSolicitationChannel   190550 non-null  category
 13  CampaignSubtype_Group     190550 non-null  category
 14  AppealSeason              190550 non-null  category
 15  GiftAmount                190550 non-null  float64
 16  ConvertedTo_RG_Within_6M  190550 non-null  int64
 17  MOSAIC_TYPE               190550 non-null  category
 18  MOSAIC_GROUP              190550 non-null  category
dtypes: category(16), datetime64[ns](1), float64(1), int64(1)
memory usage: 21.0 MB

In [85]:
df_first_gift.State.cat.categories

Index(['NSW', 'VIC', 'WA', 'QLD', 'ACT', 'SA', 'TAS', 'NT', 'INT', 'Other'], dtype='object')

In [86]:
# Inspect the category codes
df_first_gift.State.cat.codes

0          0
1          0
2          9
3          9
4          1
          ..
1780132    0
1780133    1
1780134    1
1780135    1
1780136    1
Length: 190550, dtype: int8

In [87]:
target_state_cat_number = 9
target_state_cat_value = df_first_gift.State.cat.categories[target_state_cat_number] 
print(f"[INFO] Target state category number {target_state_cat_number} maps to: {target_state_cat_value}")

[INFO] Target state category number 9 maps to: Other

In [88]:
for label, content in df_first_gift.items():
    if pd.api.types.is_object_dtype(content):
        # Turn object columns into category datatype
        df_first_gift[label] = df_first_gift[label].astype("category")

In [89]:
# Check missing values
df_first_gift.isna().sum().sort_values(ascending=False)[:20]

SupporterID                 0
Is_First_Gift               0
MOSAIC_TYPE                 0
ConvertedTo_RG_Within_6M    0
GiftAmount                  0
AppealSeason                0
CampaignSubtype_Group       0
GiftSolicitationChannel     0
ProductType_Group           0
IsEmergencyGift             0
Age_Bucket                  0
GiftDate                    0
Gift_ID                     0
Have_Email                  0
Have_Phone                  0
PostCode                    0
State                       0
Gender                      0
MOSAIC_GROUP                0
dtype: int64

In [90]:
# Find numeric columns 
for label, content in df_first_gift.items():
    if pd.api.types.is_numeric_dtype(content):
        # Check datatype of target column
        column_datatype = df_first_gift[label].dtype.name

        # Get random sample from column values
        example_value = content.sample(1).values

        # Infer random sample datatype
        example_value_dtype = pd.api.types.infer_dtype(example_value)
        print(f"Column name: {label} | Column dtype: {column_datatype} | Example value: {example_value} | Example value dtype: {example_value_dtype}")

Column name: GiftAmount | Column dtype: float64 | Example value: [137.2] | Example value dtype: floating
Column name: ConvertedTo_RG_Within_6M | Column dtype: int64 | Example value: [0] | Example value dtype: integer

In [91]:
# Check for which numeric columns have null values
for label, content in df_first_gift.items():
    if pd.api.types.is_numeric_dtype(content):
        if pd.isnull(content).sum():
            print(f"Column name: {label} | Has missing values: {True}")
        else:
            print(f"Column name: {label} | Has missing values: {False}")

Column name: GiftAmount | Has missing values: False
Column name: ConvertedTo_RG_Within_6M | Has missing values: False

In [92]:
print(f"[INFO] Columns which are not numeric:")
for label, content in df_first_gift.items():
    if not pd.api.types.is_numeric_dtype(content):
        print(f"Column name: {label} | Column dtype: {df_first_gift[label].dtype.name}")

[INFO] Columns which are not numeric:
Column name: SupporterID | Column dtype: category
Column name: Age_Bucket | Column dtype: category
Column name: Gender | Column dtype: category
Column name: State | Column dtype: category
Column name: PostCode | Column dtype: category
Column name: Have_Phone | Column dtype: category
Column name: Have_Email | Column dtype: category
Column name: Gift_ID | Column dtype: category
Column name: GiftDate | Column dtype: datetime64[ns]
Column name: IsEmergencyGift | Column dtype: category
Column name: Is_First_Gift | Column dtype: category
Column name: ProductType_Group | Column dtype: category
Column name: GiftSolicitationChannel | Column dtype: category
Column name: CampaignSubtype_Group | Column dtype: category
Column name: AppealSeason | Column dtype: category
Column name: MOSAIC_TYPE | Column dtype: category
Column name: MOSAIC_GROUP | Column dtype: category

In [93]:
# 1. Create a dictionary to store column to category values (e.g. we turn our category types into numbers but we keep a record so we can go back)
column_to_category_dict = {} 

# 2. Turn categorical variables into numbers
for label, content in df_first_gift.items():

    # 3. Check columns which *aren't* numeric
    if not pd.api.types.is_numeric_dtype(content):

        # 4. Add binary column to inidicate whether sample had missing value
        df_first_gift[label+"_is_missing"] = pd.isnull(content).astype(int)

        # 5. Ensure content is categorical and get its category codes
        content_categories = pd.Categorical(content)
        content_category_codes = content_categories.codes + 1 # prevents -1 (the default for NaN values) from being used for missing values (we'll treat missing values as 0)

        # 6. Add column key to dictionary with code: category mapping per column
        column_to_category_dict[label] = dict(zip(content_category_codes, content_categories))
        
        # 7. Set the column to the numerical values (the category code value) 
        df_first_gift[label] = content_category_codes

/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3382254889.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label+"_is_missing"] = pd.isnull(content).astype(int)
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3382254889.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label] = content_category_codes
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3382254889.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label+"_is_missing"] = pd.isnull(content).astype(int)
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3382254889.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label] = content_category_codes
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3382254889.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label+"_is_missing"] = pd.isnull(content).astype(int)
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3382254889.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label] = content_category_codes
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3382254889.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label+"_is_missing"] = pd.isnull(content).astype(int)
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3382254889.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label] = content_category_codes
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3382254889.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label+"_is_missing"] = pd.isnull(content).astype(int)
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3382254889.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label] = content_category_codes
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3382254889.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label+"_is_missing"] = pd.isnull(content).astype(int)
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3382254889.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label] = content_category_codes
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3382254889.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label+"_is_missing"] = pd.isnull(content).astype(int)
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3382254889.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label] = content_category_codes
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3382254889.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label+"_is_missing"] = pd.isnull(content).astype(int)
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3382254889.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label] = content_category_codes
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3382254889.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label+"_is_missing"] = pd.isnull(content).astype(int)
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3382254889.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label] = content_category_codes
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3382254889.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label+"_is_missing"] = pd.isnull(content).astype(int)
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3382254889.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label] = content_category_codes
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3382254889.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label+"_is_missing"] = pd.isnull(content).astype(int)
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3382254889.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label] = content_category_codes
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3382254889.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label+"_is_missing"] = pd.isnull(content).astype(int)
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3382254889.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label] = content_category_codes
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3382254889.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label+"_is_missing"] = pd.isnull(content).astype(int)
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3382254889.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label] = content_category_codes
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3382254889.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label+"_is_missing"] = pd.isnull(content).astype(int)
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3382254889.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label] = content_category_codes
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3382254889.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label+"_is_missing"] = pd.isnull(content).astype(int)
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3382254889.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label] = content_category_codes
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3382254889.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label+"_is_missing"] = pd.isnull(content).astype(int)
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3382254889.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label] = content_category_codes
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3382254889.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label+"_is_missing"] = pd.isnull(content).astype(int)
/var/folders/t2/3cdcyzcj38x9cll892r2gjc40000gn/T/ipykernel_30491/3382254889.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_gift[label] = content_category_codes

In [94]:
df_first_gift.info()

<class 'pandas.core.frame.DataFrame'>
Index: 190550 entries, 0 to 1780136
Data columns (total 36 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   SupporterID                         190550 non-null  int32
 1   Age_Bucket                          190550 non-null  int8
 2   Gender                              190550 non-null  int8
 3   State                               190550 non-null  int8
 4   PostCode                            190550 non-null  int16
 5   Have_Phone                          190550 non-null  int8
 6   Have_Email                          190550 non-null  int8
 7   Gift_ID                             190550 non-null  int32
 8   GiftDate                            190550 non-null  int16
 9   IsEmergencyGift                     190550 non-null  int8
 10  Is_First_Gift                       190550 non-null  int8
 11  ProductType_Group                   190550 non-null  int8
 12  GiftSolicitationChannel             190550 non-null  int8
 13  CampaignSubtype_Group               190550 non-null  int8
 14  AppealSeason                        190550 non-null  int8
 15  GiftAmount                          190550 non-null  float64
 16  ConvertedTo_RG_Within_6M            190550 non-null  int64
 17  MOSAIC_TYPE                         190550 non-null  int8
 18  MOSAIC_GROUP                        190550 non-null  int8
 19  SupporterID_is_missing              190550 non-null  int64
 20  Age_Bucket_is_missing               190550 non-null  int64
 21  Gender_is_missing                   190550 non-null  int64
 22  State_is_missing                    190550 non-null  int64
 23  PostCode_is_missing                 190550 non-null  int64
 24  Have_Phone_is_missing               190550 non-null  int64
 25  Have_Email_is_missing               190550 non-null  int64
 26  Gift_ID_is_missing                  190550 non-null  int64
 27  GiftDate_is_missing                 190550 non-null  int64
 28  IsEmergencyGift_is_missing          190550 non-null  int64
 29  Is_First_Gift_is_missing            190550 non-null  int64
 30  ProductType_Group_is_missing        190550 non-null  int64
 31  GiftSolicitationChannel_is_missing  190550 non-null  int64
 32  CampaignSubtype_Group_is_missing    190550 non-null  int64
 33  AppealSeason_is_missing             190550 non-null  int64
 34  MOSAIC_TYPE_is_missing              190550 non-null  int64
 35  MOSAIC_GROUP_is_missing             190550 non-null  int64
dtypes: float64(1), int16(2), int32(2), int64(18), int8(13)
memory usage: 33.6 MB

In [95]:
for key, value in sorted(column_to_category_dict["GiftDate"].items()): # note: calling sorted() on dictionary.items() sorts the dictionary by keys 
    print(f"{key} -> {value}")

1 -> 2014-01-01 00:00:00
2 -> 2014-01-02 00:00:00
3 -> 2014-01-03 00:00:00
4 -> 2014-01-04 00:00:00
5 -> 2014-01-05 00:00:00
6 -> 2014-01-06 00:00:00
7 -> 2014-01-07 00:00:00
8 -> 2014-01-08 00:00:00
9 -> 2014-01-09 00:00:00
10 -> 2014-01-10 00:00:00
11 -> 2014-01-11 00:00:00
12 -> 2014-01-12 00:00:00
13 -> 2014-01-13 00:00:00
14 -> 2014-01-14 00:00:00
15 -> 2014-01-15 00:00:00
16 -> 2014-01-16 00:00:00
17 -> 2014-01-17 00:00:00
18 -> 2014-01-18 00:00:00
19 -> 2014-01-19 00:00:00
20 -> 2014-01-20 00:00:00
21 -> 2014-01-21 00:00:00
22 -> 2014-01-22 00:00:00
23 -> 2014-01-23 00:00:00
24 -> 2014-01-24 00:00:00
25 -> 2014-01-25 00:00:00
26 -> 2014-01-26 00:00:00
27 -> 2014-01-27 00:00:00
28 -> 2014-01-28 00:00:00
29 -> 2014-01-29 00:00:00
30 -> 2014-01-30 00:00:00
31 -> 2014-01-31 00:00:00
32 -> 2014-02-01 00:00:00
33 -> 2014-02-02 00:00:00
34 -> 2014-02-03 00:00:00
35 -> 2014-02-04 00:00:00
36 -> 2014-02-05 00:00:00
37 -> 2014-02-06 00:00:00
38 -> 2014-02-07 00:00:00
39 -> 2014-02-08 00:00:00
40 -> 2014-02-09 00:00:00
41 -> 2014-02-10 00:00:00
42 -> 2014-02-11 00:00:00
43 -> 2014-02-12 00:00:00
44 -> 2014-02-13 00:00:00
45 -> 2014-02-14 00:00:00
46 -> 2014-02-15 00:00:00
47 -> 2014-02-16 00:00:00
48 -> 2014-02-17 00:00:00
49 -> 2014-02-18 00:00:00
50 -> 2014-02-19 00:00:00
51 -> 2014-02-20 00:00:00
52 -> 2014-02-21 00:00:00
53 -> 2014-02-22 00:00:00
54 -> 2014-02-23 00:00:00
55 -> 2014-02-24 00:00:00
56 -> 2014-02-25 00:00:00
57 -> 2014-02-26 00:00:00
58 -> 2014-02-27 00:00:00
59 -> 2014-02-28 00:00:00
60 -> 2014-03-01 00:00:00
61 -> 2014-03-02 00:00:00
62 -> 2014-03-03 00:00:00
63 -> 2014-03-04 00:00:00
64 -> 2014-03-05 00:00:00
65 -> 2014-03-06 00:00:00
66 -> 2014-03-07 00:00:00
67 -> 2014-03-08 00:00:00
68 -> 2014-03-09 00:00:00
69 -> 2014-03-10 00:00:00
70 -> 2014-03-11 00:00:00
71 -> 2014-03-12 00:00:00
72 -> 2014-03-13 00:00:00
73 -> 2014-03-14 00:00:00
74 -> 2014-03-15 00:00:00
75 -> 2014-03-16 00:00:00
76 -> 2014-03-17 00:00:00
77 -> 2014-03-18 00:00:00
78 -> 2014-03-19 00:00:00
79 -> 2014-03-20 00:00:00
80 -> 2014-03-21 00:00:00
81 -> 2014-03-22 00:00:00
82 -> 2014-03-23 00:00:00
83 -> 2014-03-24 00:00:00
84 -> 2014-03-25 00:00:00
85 -> 2014-03-26 00:00:00
86 -> 2014-03-27 00:00:00
87 -> 2014-03-28 00:00:00
88 -> 2014-03-29 00:00:00
89 -> 2014-03-30 00:00:00
90 -> 2014-03-31 00:00:00
91 -> 2014-04-01 00:00:00
92 -> 2014-04-02 00:00:00
93 -> 2014-04-03 00:00:00
94 -> 2014-04-04 00:00:00
95 -> 2014-04-05 00:00:00
96 -> 2014-04-06 00:00:00
97 -> 2014-04-07 00:00:00
98 -> 2014-04-08 00:00:00
99 -> 2014-04-09 00:00:00
100 -> 2014-04-10 00:00:00
101 -> 2014-04-11 00:00:00
102 -> 2014-04-12 00:00:00
103 -> 2014-04-13 00:00:00
104 -> 2014-04-14 00:00:00
105 -> 2014-04-15 00:00:00
106 -> 2014-04-16 00:00:00
107 -> 2014-04-17 00:00:00
108 -> 2014-04-18 00:00:00
109 -> 2014-04-19 00:00:00
110 -> 2014-04-20 00:00:00
111 -> 2014-04-21 00:00:00
112 -> 2014-04-22 00:00:00
113 -> 2014-04-23 00:00:00
114 -> 2014-04-24 00:00:00
115 -> 2014-04-25 00:00:00
116 -> 2014-04-26 00:00:00
117 -> 2014-04-27 00:00:00
118 -> 2014-04-28 00:00:00
119 -> 2014-04-29 00:00:00
120 -> 2014-04-30 00:00:00
121 -> 2014-05-01 00:00:00
122 -> 2014-05-02 00:00:00
123 -> 2014-05-03 00:00:00
124 -> 2014-05-04 00:00:00
125 -> 2014-05-05 00:00:00
126 -> 2014-05-06 00:00:00
127 -> 2014-05-07 00:00:00
128 -> 2014-05-08 00:00:00
129 -> 2014-05-09 00:00:00
130 -> 2014-05-10 00:00:00
131 -> 2014-05-11 00:00:00
132 -> 2014-05-12 00:00:00
133 -> 2014-05-13 00:00:00
134 -> 2014-05-14 00:00:00
135 -> 2014-05-15 00:00:00
136 -> 2014-05-16 00:00:00
137 -> 2014-05-17 00:00:00
138 -> 2014-05-18 00:00:00
139 -> 2014-05-19 00:00:00
140 -> 2014-05-20 00:00:00
141 -> 2014-05-21 00:00:00
142 -> 2014-05-22 00:00:00
143 -> 2014-05-23 00:00:00
144 -> 2014-05-24 00:00:00
145 -> 2014-05-25 00:00:00
146 -> 2014-05-26 00:00:00
147 -> 2014-05-27 00:00:00
148 -> 2014-05-28 00:00:00
149 -> 2014-05-29 00:00:00
150 -> 2014-05-30 00:00:00
151 -> 2014-05-31 00:00:00
152 -> 2014-06-01 00:00:00
153 -> 2014-06-02 00:00:00
154 -> 2014-06-03 00:00:00
155 -> 2014-06-04 00:00:00
156 -> 2014-06-05 00:00:00
157 -> 2014-06-06 00:00:00
158 -> 2014-06-07 00:00:00
159 -> 2014-06-08 00:00:00
160 -> 2014-06-09 00:00:00
161 -> 2014-06-10 00:00:00
162 -> 2014-06-11 00:00:00
163 -> 2014-06-12 00:00:00
164 -> 2014-06-13 00:00:00
165 -> 2014-06-14 00:00:00
166 -> 2014-06-15 00:00:00
167 -> 2014-06-16 00:00:00
168 -> 2014-06-17 00:00:00
169 -> 2014-06-18 00:00:00
170 -> 2014-06-19 00:00:00
171 -> 2014-06-20 00:00:00
172 -> 2014-06-21 00:00:00
173 -> 2014-06-22 00:00:00
174 -> 2014-06-23 00:00:00
175 -> 2014-06-24 00:00:00
176 -> 2014-06-25 00:00:00
177 -> 2014-06-26 00:00:00
178 -> 2014-06-27 00:00:00
179 -> 2014-06-28 00:00:00
180 -> 2014-06-29 00:00:00
181 -> 2014-06-30 00:00:00
182 -> 2014-07-01 00:00:00
183 -> 2014-07-02 00:00:00
184 -> 2014-07-03 00:00:00
185 -> 2014-07-04 00:00:00
186 -> 2014-07-05 00:00:00
187 -> 2014-07-06 00:00:00
188 -> 2014-07-07 00:00:00
189 -> 2014-07-08 00:00:00
190 -> 2014-07-09 00:00:00
191 -> 2014-07-10 00:00:00
192 -> 2014-07-11 00:00:00
193 -> 2014-07-12 00:00:00
194 -> 2014-07-13 00:00:00
195 -> 2014-07-14 00:00:00
196 -> 2014-07-15 00:00:00
197 -> 2014-07-16 00:00:00
198 -> 2014-07-17 00:00:00
199 -> 2014-07-18 00:00:00
200 -> 2014-07-19 00:00:00
201 -> 2014-07-20 00:00:00
202 -> 2014-07-21 00:00:00
203 -> 2014-07-22 00:00:00
204 -> 2014-07-23 00:00:00
205 -> 2014-07-24 00:00:00
206 -> 2014-07-25 00:00:00
207 -> 2014-07-26 00:00:00
208 -> 2014-07-27 00:00:00
209 -> 2014-07-28 00:00:00
210 -> 2014-07-29 00:00:00
211 -> 2014-07-30 00:00:00
212 -> 2014-07-31 00:00:00
213 -> 2014-08-01 00:00:00
214 -> 2014-08-02 00:00:00
215 -> 2014-08-03 00:00:00
216 -> 2014-08-04 00:00:00
217 -> 2014-08-05 00:00:00
218 -> 2014-08-06 00:00:00
219 -> 2014-08-07 00:00:00
220 -> 2014-08-08 00:00:00
221 -> 2014-08-09 00:00:00
222 -> 2014-08-10 00:00:00
223 -> 2014-08-11 00:00:00
224 -> 2014-08-12 00:00:00
225 -> 2014-08-13 00:00:00
226 -> 2014-08-14 00:00:00
227 -> 2014-08-15 00:00:00
228 -> 2014-08-16 00:00:00
229 -> 2014-08-17 00:00:00
230 -> 2014-08-18 00:00:00
231 -> 2014-08-19 00:00:00
232 -> 2014-08-20 00:00:00
233 -> 2014-08-21 00:00:00
234 -> 2014-08-22 00:00:00
235 -> 2014-08-23 00:00:00
236 -> 2014-08-24 00:00:00
237 -> 2014-08-25 00:00:00
238 -> 2014-08-26 00:00:00
239 -> 2014-08-27 00:00:00
240 -> 2014-08-28 00:00:00
241 -> 2014-08-29 00:00:00
242 -> 2014-08-30 00:00:00
243 -> 2014-08-31 00:00:00
244 -> 2014-09-01 00:00:00
245 -> 2014-09-02 00:00:00
246 -> 2014-09-03 00:00:00
247 -> 2014-09-04 00:00:00
248 -> 2014-09-05 00:00:00
249 -> 2014-09-06 00:00:00
250 -> 2014-09-07 00:00:00
251 -> 2014-09-08 00:00:00
252 -> 2014-09-09 00:00:00
253 -> 2014-09-10 00:00:00
254 -> 2014-09-11 00:00:00
255 -> 2014-09-12 00:00:00
256 -> 2014-09-13 00:00:00
257 -> 2014-09-14 00:00:00
258 -> 2014-09-15 00:00:00
259 -> 2014-09-16 00:00:00
260 -> 2014-09-17 00:00:00
261 -> 2014-09-18 00:00:00
262 -> 2014-09-19 00:00:00
263 -> 2014-09-20 00:00:00
264 -> 2014-09-21 00:00:00
265 -> 2014-09-22 00:00:00
266 -> 2014-09-23 00:00:00
267 -> 2014-09-24 00:00:00
268 -> 2014-09-25 00:00:00
269 -> 2014-09-26 00:00:00
270 -> 2014-09-27 00:00:00
271 -> 2014-09-28 00:00:00
272 -> 2014-09-29 00:00:00
273 -> 2014-09-30 00:00:00
274 -> 2014-10-01 00:00:00
275 -> 2014-10-02 00:00:00
276 -> 2014-10-03 00:00:00
277 -> 2014-10-04 00:00:00
278 -> 2014-10-05 00:00:00
279 -> 2014-10-06 00:00:00
280 -> 2014-10-07 00:00:00
281 -> 2014-10-08 00:00:00
282 -> 2014-10-09 00:00:00
283 -> 2014-10-10 00:00:00
284 -> 2014-10-11 00:00:00
285 -> 2014-10-12 00:00:00
286 -> 2014-10-13 00:00:00
287 -> 2014-10-14 00:00:00
288 -> 2014-10-15 00:00:00
289 -> 2014-10-16 00:00:00
290 -> 2014-10-17 00:00:00
291 -> 2014-10-18 00:00:00
292 -> 2014-10-19 00:00:00
293 -> 2014-10-20 00:00:00
294 -> 2014-10-21 00:00:00
295 -> 2014-10-22 00:00:00
296 -> 2014-10-23 00:00:00
297 -> 2014-10-24 00:00:00
298 -> 2014-10-25 00:00:00
299 -> 2014-10-26 00:00:00
300 -> 2014-10-27 00:00:00
301 -> 2014-10-28 00:00:00
302 -> 2014-10-29 00:00:00
303 -> 2014-10-30 00:00:00
304 -> 2014-10-31 00:00:00
305 -> 2014-11-01 00:00:00
306 -> 2014-11-02 00:00:00
307 -> 2014-11-03 00:00:00
308 -> 2014-11-04 00:00:00
309 -> 2014-11-05 00:00:00
310 -> 2014-11-06 00:00:00
311 -> 2014-11-07 00:00:00
312 -> 2014-11-08 00:00:00
313 -> 2014-11-09 00:00:00
314 -> 2014-11-10 00:00:00
315 -> 2014-11-11 00:00:00
316 -> 2014-11-12 00:00:00
317 -> 2014-11-13 00:00:00
318 -> 2014-11-14 00:00:00
319 -> 2014-11-15 00:00:00
320 -> 2014-11-16 00:00:00
321 -> 2014-11-17 00:00:00
322 -> 2014-11-18 00:00:00
323 -> 2014-11-19 00:00:00
324 -> 2014-11-20 00:00:00
325 -> 2014-11-21 00:00:00
326 -> 2014-11-22 00:00:00
327 -> 2014-11-23 00:00:00
328 -> 2014-11-24 00:00:00
329 -> 2014-11-25 00:00:00
330 -> 2014-11-26 00:00:00
331 -> 2014-11-27 00:00:00
332 -> 2014-11-28 00:00:00
333 -> 2014-11-29 00:00:00
334 -> 2014-11-30 00:00:00
335 -> 2014-12-01 00:00:00
336 -> 2014-12-02 00:00:00
337 -> 2014-12-03 00:00:00
338 -> 2014-12-04 00:00:00
339 -> 2014-12-05 00:00:00
340 -> 2014-12-06 00:00:00
341 -> 2014-12-07 00:00:00
342 -> 2014-12-08 00:00:00
343 -> 2014-12-09 00:00:00
344 -> 2014-12-10 00:00:00
345 -> 2014-12-11 00:00:00
346 -> 2014-12-12 00:00:00
347 -> 2014-12-13 00:00:00
348 -> 2014-12-14 00:00:00
349 -> 2014-12-15 00:00:00
350 -> 2014-12-16 00:00:00
351 -> 2014-12-17 00:00:00
352 -> 2014-12-18 00:00:00
353 -> 2014-12-19 00:00:00
354 -> 2014-12-20 00:00:00
355 -> 2014-12-21 00:00:00
356 -> 2014-12-22 00:00:00
357 -> 2014-12-23 00:00:00
358 -> 2014-12-24 00:00:00
359 -> 2014-12-25 00:00:00
360 -> 2014-12-26 00:00:00
361 -> 2014-12-27 00:00:00
362 -> 2014-12-28 00:00:00
363 -> 2014-12-29 00:00:00
364 -> 2014-12-30 00:00:00
365 -> 2014-12-31 00:00:00
366 -> 2015-01-01 00:00:00
367 -> 2015-01-02 00:00:00
368 -> 2015-01-03 00:00:00
369 -> 2015-01-04 00:00:00
370 -> 2015-01-05 00:00:00
371 -> 2015-01-06 00:00:00
372 -> 2015-01-07 00:00:00
373 -> 2015-01-08 00:00:00
374 -> 2015-01-09 00:00:00
375 -> 2015-01-10 00:00:00
376 -> 2015-01-11 00:00:00
377 -> 2015-01-12 00:00:00
378 -> 2015-01-13 00:00:00
379 -> 2015-01-14 00:00:00
380 -> 2015-01-15 00:00:00
381 -> 2015-01-16 00:00:00
382 -> 2015-01-17 00:00:00
383 -> 2015-01-18 00:00:00
384 -> 2015-01-19 00:00:00
385 -> 2015-01-20 00:00:00
386 -> 2015-01-21 00:00:00
387 -> 2015-01-22 00:00:00
388 -> 2015-01-23 00:00:00
389 -> 2015-01-24 00:00:00
390 -> 2015-01-25 00:00:00
391 -> 2015-01-26 00:00:00
392 -> 2015-01-27 00:00:00
393 -> 2015-01-28 00:00:00
394 -> 2015-01-29 00:00:00
395 -> 2015-01-30 00:00:00
396 -> 2015-01-31 00:00:00
397 -> 2015-02-01 00:00:00
398 -> 2015-02-02 00:00:00
399 -> 2015-02-03 00:00:00
400 -> 2015-02-04 00:00:00
401 -> 2015-02-05 00:00:00
402 -> 2015-02-06 00:00:00
403 -> 2015-02-07 00:00:00
404 -> 2015-02-08 00:00:00
405 -> 2015-02-09 00:00:00
406 -> 2015-02-10 00:00:00
407 -> 2015-02-11 00:00:00
408 -> 2015-02-12 00:00:00
409 -> 2015-02-13 00:00:00
410 -> 2015-02-14 00:00:00
411 -> 2015-02-15 00:00:00
412 -> 2015-02-16 00:00:00
413 -> 2015-02-17 00:00:00
414 -> 2015-02-18 00:00:00
415 -> 2015-02-19 00:00:00
416 -> 2015-02-20 00:00:00
417 -> 2015-02-21 00:00:00
418 -> 2015-02-22 00:00:00
419 -> 2015-02-23 00:00:00
420 -> 2015-02-24 00:00:00
421 -> 2015-02-25 00:00:00
422 -> 2015-02-26 00:00:00
423 -> 2015-02-27 00:00:00
424 -> 2015-02-28 00:00:00
425 -> 2015-03-01 00:00:00
426 -> 2015-03-02 00:00:00
427 -> 2015-03-03 00:00:00
428 -> 2015-03-04 00:00:00
429 -> 2015-03-05 00:00:00
430 -> 2015-03-06 00:00:00
431 -> 2015-03-07 00:00:00
432 -> 2015-03-08 00:00:00
433 -> 2015-03-09 00:00:00
434 -> 2015-03-10 00:00:00
435 -> 2015-03-11 00:00:00
436 -> 2015-03-12 00:00:00
437 -> 2015-03-13 00:00:00
438 -> 2015-03-14 00:00:00
439 -> 2015-03-15 00:00:00
440 -> 2015-03-16 00:00:00
441 -> 2015-03-17 00:00:00
442 -> 2015-03-18 00:00:00
443 -> 2015-03-19 00:00:00
444 -> 2015-03-20 00:00:00
445 -> 2015-03-21 00:00:00
446 -> 2015-03-22 00:00:00
447 -> 2015-03-23 00:00:00
448 -> 2015-03-24 00:00:00
449 -> 2015-03-25 00:00:00
450 -> 2015-03-26 00:00:00
451 -> 2015-03-27 00:00:00
452 -> 2015-03-28 00:00:00
453 -> 2015-03-29 00:00:00
454 -> 2015-03-30 00:00:00
455 -> 2015-03-31 00:00:00
456 -> 2015-04-01 00:00:00
457 -> 2015-04-02 00:00:00
458 -> 2015-04-03 00:00:00
459 -> 2015-04-04 00:00:00
460 -> 2015-04-05 00:00:00
461 -> 2015-04-06 00:00:00
462 -> 2015-04-07 00:00:00
463 -> 2015-04-08 00:00:00
464 -> 2015-04-09 00:00:00
465 -> 2015-04-10 00:00:00
466 -> 2015-04-11 00:00:00
467 -> 2015-04-12 00:00:00
468 -> 2015-04-13 00:00:00
469 -> 2015-04-14 00:00:00
470 -> 2015-04-15 00:00:00
471 -> 2015-04-16 00:00:00
472 -> 2015-04-17 00:00:00
473 -> 2015-04-18 00:00:00
474 -> 2015-04-19 00:00:00
475 -> 2015-04-20 00:00:00
476 -> 2015-04-21 00:00:00
477 -> 2015-04-22 00:00:00
478 -> 2015-04-23 00:00:00
479 -> 2015-04-24 00:00:00
480 -> 2015-04-25 00:00:00
481 -> 2015-04-26 00:00:00
482 -> 2015-04-27 00:00:00
483 -> 2015-04-28 00:00:00
484 -> 2015-04-29 00:00:00
485 -> 2015-04-30 00:00:00
486 -> 2015-05-01 00:00:00
487 -> 2015-05-02 00:00:00
488 -> 2015-05-03 00:00:00
489 -> 2015-05-04 00:00:00
490 -> 2015-05-05 00:00:00
491 -> 2015-05-06 00:00:00
492 -> 2015-05-07 00:00:00
493 -> 2015-05-08 00:00:00
494 -> 2015-05-09 00:00:00
495 -> 2015-05-10 00:00:00
496 -> 2015-05-11 00:00:00
497 -> 2015-05-12 00:00:00
498 -> 2015-05-13 00:00:00
499 -> 2015-05-14 00:00:00
500 -> 2015-05-15 00:00:00
501 -> 2015-05-16 00:00:00
502 -> 2015-05-17 00:00:00
503 -> 2015-05-18 00:00:00
504 -> 2015-05-19 00:00:00
505 -> 2015-05-20 00:00:00
506 -> 2015-05-21 00:00:00
507 -> 2015-05-22 00:00:00
508 -> 2015-05-23 00:00:00
509 -> 2015-05-24 00:00:00
510 -> 2015-05-25 00:00:00
511 -> 2015-05-26 00:00:00
512 -> 2015-05-27 00:00:00
513 -> 2015-05-28 00:00:00
514 -> 2015-05-29 00:00:00
515 -> 2015-05-30 00:00:00
516 -> 2015-05-31 00:00:00
517 -> 2015-06-01 00:00:00
518 -> 2015-06-02 00:00:00
519 -> 2015-06-03 00:00:00
520 -> 2015-06-04 00:00:00
521 -> 2015-06-05 00:00:00
522 -> 2015-06-06 00:00:00
523 -> 2015-06-07 00:00:00
524 -> 2015-06-08 00:00:00
525 -> 2015-06-09 00:00:00
526 -> 2015-06-10 00:00:00
527 -> 2015-06-11 00:00:00
528 -> 2015-06-12 00:00:00
529 -> 2015-06-13 00:00:00
530 -> 2015-06-14 00:00:00
531 -> 2015-06-15 00:00:00
532 -> 2015-06-16 00:00:00
533 -> 2015-06-17 00:00:00
534 -> 2015-06-18 00:00:00
535 -> 2015-06-19 00:00:00
536 -> 2015-06-20 00:00:00
537 -> 2015-06-21 00:00:00
538 -> 2015-06-22 00:00:00
539 -> 2015-06-23 00:00:00
540 -> 2015-06-24 00:00:00
541 -> 2015-06-25 00:00:00
542 -> 2015-06-26 00:00:00
543 -> 2015-06-27 00:00:00
544 -> 2015-06-28 00:00:00
545 -> 2015-06-29 00:00:00
546 -> 2015-06-30 00:00:00
547 -> 2015-07-01 00:00:00
548 -> 2015-07-02 00:00:00
549 -> 2015-07-03 00:00:00
550 -> 2015-07-04 00:00:00
551 -> 2015-07-05 00:00:00
552 -> 2015-07-06 00:00:00
553 -> 2015-07-07 00:00:00
554 -> 2015-07-08 00:00:00
555 -> 2015-07-09 00:00:00
556 -> 2015-07-10 00:00:00
557 -> 2015-07-11 00:00:00
558 -> 2015-07-12 00:00:00
559 -> 2015-07-13 00:00:00
560 -> 2015-07-14 00:00:00
561 -> 2015-07-15 00:00:00
562 -> 2015-07-16 00:00:00
563 -> 2015-07-17 00:00:00
564 -> 2015-07-18 00:00:00
565 -> 2015-07-19 00:00:00
566 -> 2015-07-20 00:00:00
567 -> 2015-07-21 00:00:00
568 -> 2015-07-22 00:00:00
569 -> 2015-07-23 00:00:00
570 -> 2015-07-24 00:00:00
571 -> 2015-07-25 00:00:00
572 -> 2015-07-26 00:00:00
573 -> 2015-07-27 00:00:00
574 -> 2015-07-28 00:00:00
575 -> 2015-07-29 00:00:00
576 -> 2015-07-30 00:00:00
577 -> 2015-07-31 00:00:00
578 -> 2015-08-01 00:00:00
579 -> 2015-08-02 00:00:00
580 -> 2015-08-03 00:00:00
581 -> 2015-08-04 00:00:00
582 -> 2015-08-05 00:00:00
583 -> 2015-08-06 00:00:00
584 -> 2015-08-07 00:00:00
585 -> 2015-08-08 00:00:00
586 -> 2015-08-09 00:00:00
587 -> 2015-08-10 00:00:00
588 -> 2015-08-11 00:00:00
589 -> 2015-08-12 00:00:00
590 -> 2015-08-13 00:00:00
591 -> 2015-08-14 00:00:00
592 -> 2015-08-15 00:00:00
593 -> 2015-08-16 00:00:00
594 -> 2015-08-17 00:00:00
595 -> 2015-08-18 00:00:00
596 -> 2015-08-19 00:00:00
597 -> 2015-08-20 00:00:00
598 -> 2015-08-21 00:00:00
599 -> 2015-08-22 00:00:00
600 -> 2015-08-23 00:00:00
601 -> 2015-08-24 00:00:00
602 -> 2015-08-25 00:00:00
603 -> 2015-08-26 00:00:00
604 -> 2015-08-27 00:00:00
605 -> 2015-08-28 00:00:00
606 -> 2015-08-29 00:00:00
607 -> 2015-08-30 00:00:00
608 -> 2015-08-31 00:00:00
609 -> 2015-09-01 00:00:00
610 -> 2015-09-02 00:00:00
611 -> 2015-09-03 00:00:00
612 -> 2015-09-04 00:00:00
613 -> 2015-09-05 00:00:00
614 -> 2015-09-06 00:00:00
615 -> 2015-09-07 00:00:00
616 -> 2015-09-08 00:00:00
617 -> 2015-09-09 00:00:00
618 -> 2015-09-10 00:00:00
619 -> 2015-09-11 00:00:00
620 -> 2015-09-12 00:00:00
621 -> 2015-09-13 00:00:00
622 -> 2015-09-14 00:00:00
623 -> 2015-09-15 00:00:00
624 -> 2015-09-16 00:00:00
625 -> 2015-09-17 00:00:00
626 -> 2015-09-18 00:00:00
627 -> 2015-09-19 00:00:00
628 -> 2015-09-20 00:00:00
629 -> 2015-09-21 00:00:00
630 -> 2015-09-22 00:00:00
631 -> 2015-09-23 00:00:00
632 -> 2015-09-24 00:00:00
633 -> 2015-09-25 00:00:00
634 -> 2015-09-26 00:00:00
635 -> 2015-09-27 00:00:00
636 -> 2015-09-28 00:00:00
637 -> 2015-09-29 00:00:00
638 -> 2015-09-30 00:00:00
639 -> 2015-10-01 00:00:00
640 -> 2015-10-02 00:00:00
641 -> 2015-10-03 00:00:00
642 -> 2015-10-04 00:00:00
643 -> 2015-10-05 00:00:00
644 -> 2015-10-06 00:00:00
645 -> 2015-10-07 00:00:00
646 -> 2015-10-08 00:00:00
647 -> 2015-10-09 00:00:00
648 -> 2015-10-10 00:00:00
649 -> 2015-10-11 00:00:00
650 -> 2015-10-12 00:00:00
651 -> 2015-10-13 00:00:00
652 -> 2015-10-14 00:00:00
653 -> 2015-10-15 00:00:00
654 -> 2015-10-16 00:00:00
655 -> 2015-10-17 00:00:00
656 -> 2015-10-18 00:00:00
657 -> 2015-10-19 00:00:00
658 -> 2015-10-20 00:00:00
659 -> 2015-10-21 00:00:00
660 -> 2015-10-22 00:00:00
661 -> 2015-10-23 00:00:00
662 -> 2015-10-24 00:00:00
663 -> 2015-10-25 00:00:00
664 -> 2015-10-26 00:00:00
665 -> 2015-10-27 00:00:00
666 -> 2015-10-28 00:00:00
667 -> 2015-10-29 00:00:00
668 -> 2015-10-30 00:00:00
669 -> 2015-10-31 00:00:00
670 -> 2015-11-01 00:00:00
671 -> 2015-11-02 00:00:00
672 -> 2015-11-03 00:00:00
673 -> 2015-11-04 00:00:00
674 -> 2015-11-05 00:00:00
675 -> 2015-11-06 00:00:00
676 -> 2015-11-07 00:00:00
677 -> 2015-11-08 00:00:00
678 -> 2015-11-09 00:00:00
679 -> 2015-11-10 00:00:00
680 -> 2015-11-11 00:00:00
681 -> 2015-11-12 00:00:00
682 -> 2015-11-13 00:00:00
683 -> 2015-11-14 00:00:00
684 -> 2015-11-15 00:00:00
685 -> 2015-11-16 00:00:00
686 -> 2015-11-17 00:00:00
687 -> 2015-11-18 00:00:00
688 -> 2015-11-19 00:00:00
689 -> 2015-11-20 00:00:00
690 -> 2015-11-21 00:00:00
691 -> 2015-11-22 00:00:00
692 -> 2015-11-23 00:00:00
693 -> 2015-11-24 00:00:00
694 -> 2015-11-25 00:00:00
695 -> 2015-11-26 00:00:00
696 -> 2015-11-27 00:00:00
697 -> 2015-11-28 00:00:00
698 -> 2015-11-29 00:00:00
699 -> 2015-11-30 00:00:00
700 -> 2015-12-01 00:00:00
701 -> 2015-12-02 00:00:00
702 -> 2015-12-03 00:00:00
703 -> 2015-12-04 00:00:00
704 -> 2015-12-05 00:00:00
705 -> 2015-12-06 00:00:00
706 -> 2015-12-07 00:00:00
707 -> 2015-12-08 00:00:00
708 -> 2015-12-09 00:00:00
709 -> 2015-12-10 00:00:00
710 -> 2015-12-11 00:00:00
711 -> 2015-12-12 00:00:00
712 -> 2015-12-13 00:00:00
713 -> 2015-12-14 00:00:00
714 -> 2015-12-15 00:00:00
715 -> 2015-12-16 00:00:00
716 -> 2015-12-17 00:00:00
717 -> 2015-12-18 00:00:00
718 -> 2015-12-19 00:00:00
719 -> 2015-12-20 00:00:00
720 -> 2015-12-21 00:00:00
721 -> 2015-12-22 00:00:00
722 -> 2015-12-23 00:00:00
723 -> 2015-12-24 00:00:00
724 -> 2015-12-25 00:00:00
725 -> 2015-12-26 00:00:00
726 -> 2015-12-27 00:00:00
727 -> 2015-12-28 00:00:00
728 -> 2015-12-29 00:00:00
729 -> 2015-12-30 00:00:00
730 -> 2015-12-31 00:00:00
731 -> 2016-01-01 00:00:00
732 -> 2016-01-02 00:00:00
733 -> 2016-01-03 00:00:00
734 -> 2016-01-04 00:00:00
735 -> 2016-01-05 00:00:00
736 -> 2016-01-06 00:00:00
737 -> 2016-01-07 00:00:00
738 -> 2016-01-08 00:00:00
739 -> 2016-01-09 00:00:00
740 -> 2016-01-10 00:00:00
741 -> 2016-01-11 00:00:00
742 -> 2016-01-12 00:00:00
743 -> 2016-01-13 00:00:00
744 -> 2016-01-14 00:00:00

In [96]:
for key, value in sorted(column_to_category_dict['Age_Bucket'].items()): # note: calling sorted() on dictionary.items() sorts the dictionary by keys 
    print(f"{key} -> {value}")

1 -> 19 - 30
2 -> 31-40
3 -> 41-50
4 -> 51-60
5 -> 61-70
6 -> 71+

In [97]:
total_missing_values = df_first_gift.isna().sum().sum()

if total_missing_values == 0:
    print(f"[INFO] Total missing values: {total_missing_values} - Woohoo! Let's build a model!")
else:
    print(f"[INFO] Uh ohh... total missing values: {total_missing_values} - Perhaps we might have to retrace our steps to fill the values?")

[INFO] Total missing values: 0 - Woohoo! Let's build a model!

In [98]:
df_first_gift.describe()

,SupporterID,Age_Bucket,Gender,State,PostCode,Have_Phone,Have_Email,Gift_ID,GiftDate,IsEmergencyGift,...,Gift_ID_is_missing,GiftDate_is_missing,IsEmergencyGift_is_missing,Is_First_Gift_is_missing,ProductType_Group_is_missing,GiftSolicitationChannel_is_missing,CampaignSubtype_Group_is_missing,AppealSeason_is_missing,MOSAIC_TYPE_is_missing,MOSAIC_GROUP_is_missing
count,190550.000000,190550.000000,190550.000000,190550.000000,190550.000000,190550.000000,190550.000000,190550.000000,190550.000000,190550.000000,...,190550.0,190550.0,190550.0,190550.0,190550.0,190550.0,190550.0,190550.0,190550.0,190550.0
mean,95275.500000,3.372139,1.438615,3.519543,692.946864,1.604529,1.643369,95275.500000,1756.543448,1.431582,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,55007.191234,1.539438,0.496557,2.943501,596.613070,0.488953,0.479006,55007.191234,968.640535,0.495298,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,47638.250000,2.000000,1.000000,1.000000,154.000000,1.000000,1.000000,47638.250000,916.000000,1.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,95275.500000,3.000000,1.000000,2.000000,621.000000,2.000000,2.000000,95275.500000,1749.000000,1.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,142912.750000,5.000000,2.000000,4.000000,1172.000000,2.000000,2.000000,142912.750000,2692.000000,2.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,190550.000000,6.000000,4.000000,10.000000,2072.000000,2.000000,2.000000,190550.000000,3198.000000,2.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Fitting a machine learning model to our preprocessed data

In [99]:
X = df_first_gift.drop('ConvertedTo_RG_Within_6M',axis = 1)

y = df_first_gift['ConvertedTo_RG_Within_6M']

In [100]:
X

,SupporterID,Age_Bucket,Gender,State,PostCode,Have_Phone,Have_Email,Gift_ID,GiftDate,IsEmergencyGift,...,Gift_ID_is_missing,GiftDate_is_missing,IsEmergencyGift_is_missing,Is_First_Gift_is_missing,ProductType_Group_is_missing,GiftSolicitationChannel_is_missing,CampaignSubtype_Group_is_missing,AppealSeason_is_missing,MOSAIC_TYPE_is_missing,MOSAIC_GROUP_is_missing
0,1,6,2,1,213,1,1,129392,2500,1,...,0,0,0,0,0,0,0,0,0,0
1,2,3,1,1,86,1,1,130854,2529,1,...,0,0,0,0,0,0,0,0,0,0
2,3,5,2,10,1,1,1,131654,2542,1,...,0,0,0,0,0,0,0,0,0,0
3,4,6,2,10,1,1,1,131737,2543,1,...,0,0,0,0,0,0,0,0,0,0
4,5,2,1,2,745,1,1,117317,496,2,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1780132,190546,1,1,1,246,2,2,125368,2422,2,...,0,0,0,0,0,0,0,0,0,0
1780133,190547,3,1,2,793,2,2,125880,2436,2,...,0,0,0,0,0,0,0,0,0,0
1780134,190548,4,1,2,687,2,2,123901,2410,2,...,0,0,0,0,0,0,0,0,0,0
1780135,190549,6,1,2,627,2,2,128499,2481,1,...,0,0,0,0,0,0,0,0,0,0
1780136,190550,3,1,2,774,2,2,127520,2468,1,...,0,0,0,0,0,0,0,0,0,0

In [104]:
y

0          0
1          0
2          0
3          0
4          0
          ..
1780132    0
1780133    0
1780134    0
1780135    0
1780136    0
Name: ConvertedTo_RG_Within_6M, Length: 190550, dtype: int64

In [105]:
# Split data into train and test sets
np.random.seed(42)

# Split into train & test set
X_train,X_test,y_train,y_test = train_test_split(X,
                                                 y,
                                                 test_size=0.2)

In [106]:
X_train

,SupporterID,Age_Bucket,Gender,State,PostCode,Have_Phone,Have_Email,Gift_ID,GiftDate,IsEmergencyGift,...,Gift_ID_is_missing,GiftDate_is_missing,IsEmergencyGift_is_missing,Is_First_Gift_is_missing,ProductType_Group_is_missing,GiftSolicitationChannel_is_missing,CampaignSubtype_Group_is_missing,AppealSeason_is_missing,MOSAIC_TYPE_is_missing,MOSAIC_GROUP_is_missing
1545283,133200,2,2,5,613,2,1,132244,2563,2,...,0,0,0,0,0,0,0,0,0,0
172611,11260,2,1,3,1683,1,1,111125,224,1,...,0,0,0,0,0,0,0,0,0,0
1592389,140954,2,1,2,624,2,2,140243,2684,2,...,0,0,0,0,0,0,0,0,0,0
890715,70113,6,1,1,487,2,1,69439,1226,1,...,0,0,0,0,0,0,0,0,0,0
217453,13555,2,2,2,1059,1,1,17186,319,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1453351,119880,2,1,2,675,2,2,38451,2362,2,...,0,0,0,0,0,0,0,0,0,0
1291396,103695,6,1,2,795,2,2,105891,1912,1,...,0,0,0,0,0,0,0,0,0,0
1532181,131933,3,2,10,1,2,1,130959,2531,1,...,0,0,0,0,0,0,0,0,0,0
1616384,146868,5,1,6,1516,2,2,146239,2732,2,...,0,0,0,0,0,0,0,0,0,0
1458603,121959,6,1,1,394,2,2,37384,2360,2,...,0,0,0,0,0,0,0,0,0,0

In [107]:
y_train

1545283    0
172611     0
1592389    0
890715     0
217453     0
          ..
1453351    0
1291396    0
1532181    0
1616384    0
1458603    0
Name: ConvertedTo_RG_Within_6M, Length: 152440, dtype: int64

In [109]:
test_set = pd.read_csv('Test_p2.csv')
test_set

,SupporterID,Age_Bucket,Gender,State,PostCode,Have_Phone,Have_Email,Gift_ID,GiftDate,IsEmergencyGift,Is_First_Gift,ProductType_Group,GiftSolicitationChannel,CampaignSubtype_Group,AppealSeason,GiftAmount
0,C-990078102,Unknown,NaN,NSW,2088.0,No,No,0062u000009SyPiAAK,8/01/2014,Yes,Is_First_Gift,Cash - One off,Web,Appeal,Non Seasonal,70.0
1,C-990116708,Unknown,NaN,SA,5006.0,No,No,0062u000009FmpmAAC,4/27/2015,Yes,Is_First_Gift,Cash - One off,Web,Appeal,Non Seasonal,35.0
2,C-990132428,Unknown,Female,QLD,4007.0,Yes,Yes,0062u000009SLdHAAW,9/02/2015,NaN,Is_First_Gift,Cash - Inspired Gifts,Web,Appeal,Non Seasonal,28.0
3,C-990137490,Unknown,Female,SA,NaN,Yes,Yes,0062u00000C4UWoAAN,4/29/2021,Yes,Is_First_Gift,Cash - One off,EDM,Appeal,Non Seasonal,576.1
4,C-990189756,Unknown,NaN,NSW,2777.0,Yes,Yes,0062u00000DC1KSAA1,9/04/2021,NaN,Is_First_Gift,Cash - Inspired Gifts,EDM,Appeal,Non Seasonal,42.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15219,N_990621183,Unknown,NaN,NSW,2300.0,Yes,Yes,0062u00000C5RabAAF,5/11/2021,Yes,Is_First_Gift,Cash - One off,Web,Appeal,Non Seasonal,35.0
15220,N_990621184,Unknown,NaN,NaN,NaN,Yes,Yes,0062u000009gBTKAA2,8/07/2020,Yes,Is_First_Gift,Cash - One off,Web,Appeal,Non Seasonal,61.6
15221,N_990621235,Unknown,NaN,NSW,2060.0,Yes,Yes,0062u00000Bble2AAB,3/15/2021,Yes,Is_First_Gift,Cash - One off,General,Appeal,Non Seasonal,147.0
15222,N_990621240,Unknown,NaN,NSW,2077.0,Yes,Yes,0062u00000BbzCZAAZ,3/17/2021,NaN,Is_First_Gift,Cash - One off,Web,Appeal,Non Seasonal,107.1
15223,N_990621273,Unknown,NaN,ACT,2615.0,Yes,Yes,0062u00000AZr1IAAT,12/11/2020,NaN,Is_First_Gift,Cash - One off,Web,Appeal,Non Seasonal,42.0